<html>
<head>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body style="margin:0 auto;width:980px;">
	<div class="row" style="margin:15px 0px 0px 0px;background-color:#eeeeee;height:30px;padding:5px 0px 0px 0px;">
		<div class="col-md-offset-9">
			<label>您好！欢迎您的访问</label>
			<a href="#" style="margin:0px 5px 0px 10px;">登录</a>
			<a href="#">注册</a>
		</div>
	</div>
	<div class="row">
		<h1 align="center" style="font-weight:bold;margin:15px 0px 30px 0px;">中国镁冶炼行业碳排放基础数据库</h1>
	</div>
	<div class="row">
		<div class="navbar navbar-default" role="navigation"><!--navbar-default就是给指定的区域标成灰色-->
			<ul class="nav navbar-nav"> 
				<li class="active"><a href="{SITE_URL}">首页</a></li>
				<li><a href="{SITE_URL}?index/main.html">行业概况</a></li>
				<li><a href="#">基础数据</a></li>
				<li><a href="##">清单报告</a></li>
				<li><a href="##">联系方式</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<img style="width:980px" src="{SITE_URL}css/default/carbon_index.png"/>
	</div>
	<div class="row">
		<h3>其他网站链接</h3>
	</div>
</body>
</html>