<!--{template header}-->
<!--{template user_menu}-->
<dl class="space_count">
    <dt>
    <p>回答</p>
    <span><em><a href="{url user/answer/$user['uid']}">{$user['answers']}</a></em></span>
    </dt>
    <dt>
    <p>提问</p>
    <span><em><a href="{url user/ask/$user['uid']}">{$user['questions']}</a></em></span>
    </dt>
    <dt>
    <p>财富</p>
    <span><em>{$user['credit2']}</em></span>
    </dt>
    <dt>
    <p>经验</p>
    <span><em>{$user['credit1']}</em></span>
    </dt>
</dl>

<div class="space_count">
    <div class="info">
        <div class="modbox">
            <ol>擅长</ol>
            <ul>
                <!--{if $user['category']}-->
                <!--{loop $user['category'] $category}-->
                <a href="{url category/view/$category['cid']}">{$category['categoryname']}</a>
                <!--{/loop}-->
                <!--{else}-->
                暂无
                <!--{/if}--> 
            </ul>
        </div>
        <div class="modbox">
            <ol>简介</ol>
            <ul>{if $user['signature']}{$user['signature']}{else}暂无介绍{/if}</ul>
        </div>
        <div class="modbox">
            <ol>注册日期</ol>
            <ul>{$user['register_time']}</ul>
        </div>
    </div>
</div>
<!--{template footer}-->